<%= form_for(@enter_score) do |f| %>
  <% if @enter_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enter_score.errors.count, "error") %> prohibited this enter score from being saved:</h2>

      <ul>
      <% @enter_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
