<p id="notice"><%= notice %></p>

<h1>Listing Scores Entered</h1>
<br>
<br>
<table>
  <thead>
    <tr>
      <th colspan="12"></th>
    </tr>
  </thead>

  <tbody>
    <% @enter_scores.each do |enter_score| %>
      <tr>
        <td><%= link_to 'Show', enter_score %></td>
        <td><%= link_to 'Edit', edit_enter_score_path(enter_score) %></td>
        <td><%= link_to 'Destroy', enter_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


