<div class="page-header">
	<center>
		<h1>New Score</h1>
	</center>							<!--  -->
</div>

<!-- adding a new score. Again rendering the same form -->
<%= render 'form' %>
<div class = "container">
	<br>
	<%= link_to 'Performance', scores_path %>
</div>
