<!-- sing up/user --> 

<div class = "container-fluid jumbotron">
	<div class = "row">
		<div class="col-md-3">
				
		</div>
		 <!--  -->
		<div class="col-md-6">
				<div class="form-group">
				  	<%= form.text_field :email, type: 'email', :class => "form-control", required: true, :placeholder => "Email"%>
				  	<%= form.password_field :password, :class => "form-control",required: true, :placeholder =>"Password" %>
				  	<br>				
      			<%= form.submit "Sign Up", :class => "btn btn-block btn-primary"  %>
    				
				</div>
		</div>
	</div>
</div>

