<!-- sing up/user -->

<div class = "container-fluid jumbotron">
	<div class = "row">
		<div class="col-md-6">
				<div class="form-group">
					  
					  <%= form.text_field :email, type: 'email', :class => "form-control",required: true, :placeholder => "Email"%>
					  <br>
					  <div class="submit-field">
      			  	<%= form.submit "Sign Up", :class => "btn btn-primary"  %>
    			</div>
				</div>
		</div>
		 <!--  -->
		<div class="col-md-6">
				<div class="form-group">
				  	
				  	<%= form.password_field :password, :class => "form-control",required: true, :placeholder =>"Password" %>
				  	
				</div>
		</div>
		<!-- <div class="col-md-4">
				
		</div> -->

	</div>
</div>

<!--<%= form.label :email %> -->