
<div class="page-header">
  <center>
    <h1>About Us </h1>
  </center>       <!--  -->
</div>

<!-- displaying the video  -->
<div class="panel panel-danger">
  <!-- <div class="panel-heading"><h1>About us</h1></div> -->
  <div class="panel-body">
    <p class = "lead">This is what Scoreboard is all about. </p>
            <!-- 4:3 aspect ratio -->
          <div class="embed-responsive embed-responsive-4by3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hfgqCkfgNbM" frameborder="0" allowfullscreen></iframe>
          </div>
  </div>
</div>




