
<div><h1>Welcome</h1></div>


	<div class = "container">
		<div class="row">
			<center>
				<div class="col-md-6">
				<%= link_to 'Sign up', '/sign_up', :class => 'btn btn-primary btn-lg btn-block' %>
				</div>

				<div class="col-md-6">
				<%= link_to 'Sign in', '/sign_in', :class => 'btn btn-success btn-lg btn-block' %>
				</div>
			<br>
			</center>
		</div>
	</div>

<center>
<body>
	<br>
	<%= image_tag("scoreImage.jpg",:class => "img-rounded img-responsive",:alt => "rss feed") %>


	<br>

</body>
</center>