
<!-- <div><h1>Welcome</h1></div> -->

<!-- Try 

	if(signed in == true)
	{
		Dont show these buttons

	}
	else
		Show buttons and not navigation 


ie - if(!notSignedIn)
	{
		show login sign up buttons
	}
 -->

			<!-- <div class = "container">
				<div class="row"> -->
					<% if signed_out? %>
					


					<!-- <li><%= link_to 'About', 'intro', :class => "page-scroll" %></li> -->
						<!-- <center>
							<div class="col-md-6">
							
							<%= link_to 'Sign up', '/sign_up', :class => 'btn btn-primary btn-lg btn-block' %>
							</div>

							<div class="col-md-6">
							<%= link_to 'Sign in', '/sign_in', :class => 'btn btn-success btn-lg btn-block' %>
							</div>
						<br>
						<%= image_tag("scoreImage.jpg",:class => "b1 img-rounded img-responsive",:alt => "rss feed") %>
						</center> -->
					<% end %>
<!-- 				</div>
			</div> -->
			
			
		
			
		
