<div id="landing">
	<div class = "b1">
	
			<% if signed_out? %>
				<div class="page-header">
						<center>
							<h1>The Scoreboard</h1>
						</center>
							<!--  -->
				</div>
				<div class="b1">
				<center>
					<h4>Golf's First Social Media</h4>
					<%= link_to "Sign-Up", '/sign_up' ,:class => "btn btn-info"%>
											
				</center>
				</div>

					    <% else %>
						<div class="page-header">
							<center>
								<h1>The Scoreboard</h1>
							</center>
							<!--  -->
						</div>
										<center>
											<h4></h4>
										</center>		
							
					<% end %>
	</div>
</div>

					
			
			
		
			
		
