<div id="landing">
	
	
			<% if signed_out? %>
				<div class="page-header">
						<center>
							<h1>The Scoreboard</h1>
						</center>
							<!--  -->
				</div>
				<div>
					<center>
						<p class= "lead">Golf is the only sport where you can play against yourself. So why not keep track of how well you’re competing! </p>
						<br>
						<%= link_to "Sign-Up", '/sign_up' ,:class => "btn-lg btn-info"%>
							
					</center>										
				</div>
				<div> 

				</div>
					    <% else %>
						<div class="page-header">
							<center>
								<h1>The Scoreboard</h1>
							</center>
						</div>
					
					<div>

  							<!-- Nav tabs -->
						  <ul class="nav nav-tabs" role="tablist">
						    <li role="presentation" class="active"><a href="#score" aria-controls="score" role="tab" data-toggle="tab">Enter A Score</a></li>
						    <li role="presentation"><a href="#Performance" aria-controls="Performance" role="tab" data-toggle="tab">Performance</a></li>
						    <!-- <li role="presentation"><a href="#euro" aria-controls="euro" role="tab" data-toggle="tab">European Tour</a></li>
						    <li role="presentation"><a href="#pga" aria-controls="pga" role="tab" data-toggle="tab">PGA Tour</a></li> -->
						  </ul>
							<br>
						  <!-- Tab panes -->
						<div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="score">
						    	<div class ="container">
    								<div class ="row">
		    							<div class="col-md-6">
								    		
								    		<center>	
								    		<h4>Click on the button below to enter your latest scores. You can even add a picture of your score card, or you and your golf buddies on your latest trip</h4>
								    		<%= link_to "Enter Score", 'scores/new' ,:class => "btn btn-primary"%>
								    		
								    		</center>
								    	</div>
								    </div>
								</div>

						    </div>
						    <div role="tabpanel" class="tab-pane" id="Performance">
						    	<div class ="container">
    								<div class ="row">
		    							<div class="col-md-6">
								    		
								    		<center>	
								    		<h4>Click on the button below to view your personal dashboard including Scores, Stats and Graphs</h4>
								    		<%= link_to "Performance", 'scores/index' ,:class => "btn btn-success"%>
								    		
								    		</center>
								    	</div>
								    </div>
								</div>

						    </div>
						   
						</div>

					</div>


						<br><br><br>
						<br><br><br>
					<section>
						<div class ="container">
    						<div class ="row">
    							<div class="col-md-4"> 
    								<h4>European Tour</h4>
									<a class="twitter-timeline" href="https://twitter.com/EuropeanTour" data-widget-id="703582358138650624">Tweets by @EuropeanTour</a>
									<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
								</div>
								<div class="col-md-4 ">
									<h4>US PGA Tour</h4>
									<a class="twitter-timeline" href="https://twitter.com/PGATOUR" data-widget-id="703581485912162304">Tweets by @PGATOUR</a>
									<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
								</div>

								<div class="col-md-4 ">
										
								</div>
							</div>
						</div>
					<section>
							
					<% end %>
	<!-- </div> -->
</div>

					
			
			
		
			
		
