<div id="landing">
	
	
			<% if signed_out? %>
				<div class="page-header">
						<center>
							<h2>The Scoreboard</h2>
						</center>
							<!--  -->
				</div>
				<div>
					<center>
						<p class= "lead">Golf is the only sport where you can play against yourself. So why not keep track of how well you’re competing! </p>
						<br>
						<%= link_to "Sign-Up", '/sign_up' ,:class => "btn-lg btn-info"%>
							
					</center>										
				</div>
				<div> 

				</div>
					    <% else %>
						<div class="page-header">
							<center>
								<h2>The Scoreboard</h2>
							</center>
						</div>
										
							
					<% end %>
	<!-- </div> -->
</div>

					
			
			
		
			
		
