<div class="page-header">
	<h1>Enter a score <small> Fill in your recent score details</small></h1>

</div>


<div class ="container">
	<div class ="row">
		<div class="col-md-3">
				<input type="integer" class="form-control" placeholder="Enter Score ">
		</div>
		<div class="col-md-3">
				<input type="text" class="form-control" placeholder="Course ">
		</div>
		<div class="col-md-3">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Dropdown
					    <span class="caret"></span>
					</button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    	<li><a href="#">Royal Dublin </a></li>
					    	<li><a href="#">Portrush</a></li>
					    	<li><a href="#">The Island</a></li>
					    	<!-- <li role="separator" class="divider"></li> -->
					    	<li><a href="#">Separated link</a></li>
					  </ul>
				</div>
		</div>	
	</div>
	<br>
	<div>
		<%= link_to 'Submit', '#', :class => 'btn btn-success' %>
	</div>
</div>